<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.domain.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="uid" column="uid" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="enrollment" column="enrollment" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,uid,username,
        password,enrollment
    </sql>

    <insert id="register">
        insert into user (uid,username,password,enrollment)values (#{uid},#{username},#{password},#{enrollment})
    </insert>
    <select id="getUserByPassword" resultType="com.example.domain.User">
        select * from user where password =#{password}
    </select>
    <select id="login" resultType="com.example.domain.User">
        select * from user where uid = #{uid} and password = #{password}
    </select>
    <select id="getUserByName" resultType="com.example.domain.User">
        select * from user where username = #{username}
    </select>
    <delete id="delUser">
        delete from user where uid = #{uid}
    </delete>
</mapper>
